@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
height: 100vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
background: url('../assets/img/bg-img.png') center center;
background-size: cover;
flex-direction: column;
}

.form-container {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;

}

.enter-text {
  font-family: fantasy ;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

input{
  padding: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  font-size: 16px;
  background: rgb(2,2,4);
  background: linear-gradient(37deg, rgba(2,2,4,0.5354516806722689) 0%, rgba(88,109,198,0.4738270308123249) 25%, rgba(0,0,0,0.4458158263305322) 54%, rgba(95,120,218,0.5382528011204482) 86%, rgba(6,8,14,0.4906337535014006) 100%);
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.error-message {
  color: red;
  opacity: 0;
}